<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>libraries</param-name>
        <param-value>Database,Mail,Management,Mqtt,Neural,Nlp,Serial,Vision,Weather,Xmpp</param-value>
    </context-param>
    <servlet>
        <description>Rest API Servlet</description>
        <servlet-name>RestServlet</servlet-name>
        <servlet-class>org.brain4it.server.servlet.RestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestServlet</servlet-name>
        <url-pattern>/modules/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
      30
    </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
