<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ajuntament de Sant Feliu de Llobregat">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="favicons/android-chrome-512x512.png">
    <link rel="manifest" href="favicons/manifest.json">
    <title>{--title--}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/brain4it.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
      <a class="navbar-brand" href="index.html">
        <img src="images/brain4it.svg" alt="Brain4it" class="brain4it_logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item{--index_active--}">
            <a class="nav-link" href="index.html">Home{--index_current--}</a>
          </li>

          <li class="nav-item dropdown{--product_active--}">
            <a class="nav-link dropdown-toggle"
               href="#" id="dropdown01"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="architecture.html">Architecture{--architecture_current--}</a>
              <a class="dropdown-item" href="use_cases.html">Use cases{--use_cases_current--}</a>
              <a class="dropdown-item" href="screenshots.html">Screenshots{--screenshots_current--}</a>
            </div>
          </li>

          <li class="nav-item dropdown{--learning_active--}">
            <a class="nav-link dropdown-toggle"
               href="#" id="dropdown02"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Learning</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              <a class="dropdown-item" href="quick_start.html">Quick start{--quick_start_current--}</a>
              <a class="dropdown-item" href="language.html">Language{--language_current--}</a>
              <a class="dropdown-item" href="modules.html">Modules{--modules_current--}</a>
              <a class="dropdown-item" href="dashboards.html">Dashboards{--dashboards_current--}</a>
            </div>
          </li>
          <li class="nav-item dropdown{--reference_active--}">
            <a class="nav-link dropdown-toggle"
               href="#" id="dropdown03"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reference</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              <a class="dropdown-item" href="libraries.html">Libraries{--libraries_current--}</a>
              <a class="dropdown-item" href="rest_api.html">REST API{--rest_api_current--}</a>
              <a class="dropdown-item" href="special_variables.html">Special variables {--special_variables_current--}</a>
              <a class="dropdown-item" href="widgets.html">Widget types{--widgets_current--}</a>
              <a class="dropdown-item" href="server_setup.html">Server setup{--server_setup_current--}</a>
            </div>
          </li>
          <li class="nav-item{--projects_active--}">
            <a class="nav-link" href="projects.html">Projects{--projects_current--}</a>
          </li>
          <li class="nav-item{--download_active--}">
            <a class="nav-link" href="download.html">Download{--download_current--}</a>
          </li>
        </ul>
      </div>
    </nav>

    {--carousel--}

    <div class="container">
    {--body--}
    </div>

    <footer>
      <div class="github">
        <a href="https://github.com/brain4it/brain4it" target="_blank" aria-label="New window"><img src="images/github.svg" alt="" width="32"> GitHub</a>
      </div>
      <ul>
        <li>&copy; 2023 Brain4it </li>
        <li><a href="legal_terms.html">Legal terms</a></li>
        <li><a href="cookie_policy.html">Cookie policy</a></li>
      </ul>
    </footer>

  	<a href="#0" class="cd-top">Top</a>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/gotop.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
