<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.brain4it.server.android"
          android:versionCode="1"
          android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="22" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <application android:label="@string/appName"
               android:name=".ServerApplication"
               android:icon="@drawable/logo"
               android:theme="@style/Brain4itTheme">
    <activity android:name=".ServerActivity"
              android:label="@string/appName"
              android:launchMode="singleTop"
              android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".ServerSetupActivity"
              android:launchMode="standard">
    </activity>
    <activity android:name=".AboutActivity"
              android:launchMode="standard"
              android:screenOrientation="portrait">
    </activity>
    <service android:name=".AndroidService"
             android:enabled="true" android:stopWithTask="false" />
  </application>
</manifest>
